<!-- inspired by https://www.playandproduce.be/ -->
<!-- make highlight no fill, just different stroke. use diff cursors? -->

<div class="project"
	p-action-1="(mouseover) call: startHover"
	p-action-2="(mousemove) call: hovering"
	p-action-3="(mouseout ) call: endHover">

	<div class="content">

		<div class="preview">
			<div class="backshadow backshadowbottom"></div>
			<div class="topshadow topshadowleft"></div>
			<div class="topshadow topshadowright"></div>
			<div class="topshadow topshadowbottom"></div>
		</div>
		<div class="title">MIDI arcade</div>
		<div class="border"></div>

	</div>

</div>
