<a class="close" href="#"></a>

<div class="name">orbital</div>

<div class="videoContainer">
    <iframe src="https://player.vimeo.com/video/247640283" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p class="about">an experiment in sequencing music in VR by linking Ableton Live with Unreal Engine 4 with OSC (open sound control).</p>
    
<div class="videoContainer">
    <iframe src="https://player.vimeo.com/video/194544496" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<!-- <img src="../../img/mems-mic/aes.jpg" alt="" class="project-image"> -->
