<a class="close" href="#"></a>

<div class="name">mems microphone</div>

<div class="videoContainer">
    <iframe src="https://player.vimeo.com/video/243571192" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p class="about">at NYU, I helped design, develop and prototype a low-cost ambisonic microphone using MEMS capsules (the silicon microphones found in smartphones). we were part of the NYU J-term sprint where we followed lean startup methodologies, and won a bronze medal in the Student Design Competition (SDC) at the Audio Engineering Society (AES) convention in 2017. <a href="https://sites.google.com/nyu.edu/open-source-vr-mic-nyu/home" target="_blank">see the full project website</a>.</p>

<img src="../../img/mems-mic/aes.jpg" alt="" class="project-image">

<img src="../../img/memsmic.jpg" alt="" style="width: 400px;" class="project-image">

<img src="../../img/mems-mic/working.jpg" alt="" class="project-image">

<img src="../../img/mems-mic/boards.jpg" alt="" class="project-image">

<img src="../../img/mems-mic/3d.jpg" alt="" class="project-image">

<img src="../../img/mems-mic/studio.jpg" alt="" class="project-image">

<!-- <img src="../../img/sonancy.jpg" alt="" class="project-image"> -->
