<div class="logo"></div>

<div id="top" class="me">
	<div>SPENCER</div>
	<div>CAPPIELLO</div>
</div>

<!-- <div 	class="menuButton"
			p-action-1="(click) call: menuButtonPress">
	<div class="topBar"></div>
	<div class="bottomBar"></div>
</div> -->

<!-- <div class="menuBar">
	<div class="mbBackground"></div>
	<a href="www.spencercappiello.com"><div class="mbItem mbiAbout mbiHide">about</div></a>
	<a href=""><div class="mbItem mbiProjects mbiHide">projects</div></a>
	<a href=""><div class="mbItem mbiContact mbiHide">contact</div></a>
</div> -->

<!-- <div class="carousel">
	<div class="static-banner"></div>
	<div class="carousel-cell nameCell">
		<div class="name spencer">SPENCER</div>
		<div class="name cappiello">CAPPIELLO</div>
	</div>
	<div class="carousel-cell cellProject projectSonancy"></div>
	<div class="carousel-cell cellProject projectVessel"></div>
	<div class="carousel-cell cellProject projectRunc"></div>
	<div class="carousel-cell cellProject projectSonyc"></div>
	<div class="carousel-cell cellProject projectMidi"></div>
</div> -->

<div class="projects">

	<!-- <div class="blankpage"></div> -->

	<!-- href="https://vimeo.com/82478029" -->
	<a class="project" href="#midi-arcade"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectMidi">
			<div class="preview">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">midi arcade</div>
			<div class="border"></div>
		</div>

	</a>

	<a class="project" href="https://www.indiegogo.com/projects/runcible-circular-open-source-anti-smartphone-camera-tablet" target="_blank"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectRunc">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">runcible</div>
			<div class="border "></div>
		</div>

	</a>

	<a class="project" href="#sonancy""
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectSonancy">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">sonancy</div>
			<div class="border "></div>
		</div>

	</a>

	<a class="project" href="https://wp.nyu.edu/sonyc/" target="_blank"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectSonyc">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">sonyc</div>
			<div class="border "></div>
		</div>

	</a>

	<a class="project" href="https://www.relevantmotion.org/" target="_blank"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectRemo">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">relevant motion</div>
			<div class="border "></div>
		</div>

	</a>

	<a class="project" href="#mems-mic"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectMEMS">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">mems mic</div>
			<div class="border "></div>
		</div>

	</a>


	<a class="project" href="https://vimeo.com/243970140" target="_blank"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectVessel">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">vessel</div>
			<div class="border "></div>
		</div>

	</a>


	<a class="project" href="https://guggenheim.org/" target="_blank"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectGuggenheim">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">guggenheim</div>
			<div class="border "></div>
		</div>

	</a>

	<a class="project" href="#orbital"
		p-action-1="(mouseover) call: start3Deffect"
		p-action-2="(mousemove) call: hover3Deffect"
		p-action-3="(mouseout ) call: end3Deffect">

		<div class="content projectOrbital">
			<div class="preview ">
				<div class="backshadow backshadowbottom"></div>
				<div class="topshadow topshadowleft"></div>
				<div class="topshadow topshadowright"></div>
				<div class="topshadow topshadowbottom"></div>
			</div>
			<div class="title">orbital</div>
			<div class="border "></div>
		</div>

	</a>

</div>

<div class="contacts">
	<a href="http://www.spencercappiello.com/!SpencerCappiello_Resume_08.17.18.pdf" class="resume">resume</a>
	<a href="mailto:cappiello.spencer@gmail.com?subject=lets%20get%20real" class="email">cappiello(dot)spencer(at)gmail</a>
</div>


<div class="projectViews">
	<div p-view="projectViewMidi" data-hash-route="#midi-arcade" class="projectView p-invisible"></div>
	<div p-view="projectViewSonancy" data-hash-route="#sonancy"  class="projectView p-invisible"></div>
	<div p-view="projectViewMemsMic" data-hash-route="#mems-mic" class="projectView p-invisible"></div>
	<div p-view="projectViewOrbital" data-hash-route="#orbital" class="projectView p-invisible"></div>
</div>


<!-- <div class="blankbit"></div> -->

<!-- <div class="pullupFooter">
	<a class="footerItem" href="https://vimeo.com/spencercap">vimeo</a>
	<a class="footerItem" href="https://github.com/spencercap">github</a>
	<a class="footerItem" href="https://flic.kr/s/aHsjKZvtTU">flickr</a>
	<div class="footerItem">cappiello</div>
	<div class="footerItem">social</div>
	<div class="footerItem">links</div>
</div> -->

<!-- <div class="shadowfiller"></div> -->
